*.pyc
*.*~
*.swp
*.swo
*.sqlite*
settings_local.py
local_settings.py
Thumbs.db
.DS_Store
.project
.pydevproject
.installed.cfg
.coverage
coverage/
core/django
django-test-coverage
testrecorder
bin/buildout
.idea/*
env/*
.venv/*
.venv
django
